{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <a class="btn btn-outline-info mb-2 mt-3 col-6" href="{% url 'post-create' %}">Add message</a>
    {% for post in posts %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text"><small class="text-muted">{{post.author}} on {{post.date_posted|date:"F d, Y"}}</small></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}